body {
  /* background-color: #282c34; */
  border-radius: 15px;
}

.App {
  text-align: center;
  /* max-width: 728px; */
  max-width: 420px;
  margin: 0 auto;
  border-radius: 15px;
}

.App header {
  background-color: #1817171c;
  height: 8vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  /* max-width: 728px; */
  max-width: 420px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  max-height: 100vh;
  /* background-color: rgb(40, 37, 53); */
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  padding: 10px;
  /* height: 84vh; */
  margin: 8vh 0px 8vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e2409;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 8vh;
  position: fixed;
  bottom: 0;
  /* background-color: rgb(24, 23, 23); */
  width: 100%;
  /* max-width: 728px; */
  max-width: 420px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  background: rgba(58, 58, 58, 0.131);
  width: 20%;
  border-radius: 0 15px 15px 0;
  font-size: 1.25rem;
}

.submitBtnSpan {
  background-color: rgba(56, 56, 143, 0.4);
  padding: 13px 11px;
  border: 2px solid rgba(255, 255, 255, 0.352);
  border-radius: 50%;
  box-shadow: 0px 2px 5px -2px black;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.25rem;
  background: rgba(58, 58, 58, 0.131);
  color: rgba(0, 0, 0, 0.655);
  outline: none;
  border: none;
  padding: 0 25px;
  border-radius: 15px 0 0 15px;
}

button {
  background-color: #282c34;
  /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 15px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin: 6px 0 6px 0;
  line-height: 24px;
  padding: 5px 10px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  /* color: white; */
  color: black;
  background: #0b94f61a;
  align-self: flex-end;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.4);
}

.received p {
  background: #e5e5ea56;
  color: black;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.117);
}

img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 2px 5px;
}
